.divposicion {
  display: inline-block;
  position: relative;
}

.iconposicion {
  position: absolute;
  right: 7%;
  top: 25px;
}

.exepcion {
  color: red;
  outline: 1px solid red;
}

.correcto {
  color: blue;
  outline: 1px solid blue;
}

html, body {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 1440px) {
  html {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    overflow: visible;
  }
  .cards-container {
    margin: 0;
    max-width: 35vw;
    width: 35vw;
    height: 100vh;
    justify-self: flex-start;
    align-self: flex-start;
    background-image: url("../../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cards-container-front-card {
    position: relative;
    transform: translatey(calc(310px - 20%));
    left: 50%;
    object-fit: cover;
    width: max;
    max-width: 646px;
    height: 320px;
  }
  .cards-container-front-card-img {
    width: 100%;
    height: 100%;
  }
  .cards-container-front-card-svg {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .cards-container-front-card-card-number {
    font-variant: small-caps;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: hsl(0deg, 0%, 100%);
    font-family: "Space Grotesk";
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 10px;
    left: 0px;
  }
  .cards-container-front-card-name {
    font-variant: small-caps;
    color: hsl(0deg, 0%, 100%);
    position: absolute;
    top: 80%;
    left: 45px;
    font-size: 25px;
  }
  .cards-container-front-card-month {
    font-size: 25px;
    font-variant: small-caps;
    color: hsl(0deg, 0%, 100%);
    position: absolute;
    top: 80%;
    left: 80%;
  }
  .cards-container-back-card {
    position: relative;
    transform: translatey(calc(310px - 20%));
    object-fit: cover;
    width: max;
    max-width: 646px;
    margin-top: 40px;
    left: 60%;
    height: 320px;
  }
  .cards-container-back-card-img {
    width: 100%;
    height: 100%;
  }
  .cards-container-back-card-CVC {
    position: absolute;
    left: 80%;
    top: 45%;
    color: hsl(270deg, 3%, 87%);
    font-weight: 700;
    font-size: 27px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1439px) {
  .cards-container {
    max-width: 100vw;
    width: 100vw;
    background-image: url("../../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
  }
  .cards-container-front-card {
    position: relative;
    transform: translatey(calc(310px - 82%));
    left: 4vw;
    object-fit: cover;
    width: max(312.9px, 80vw);
    max-width: 386px;
    height: 200px;
    z-index: 3;
  }
  .cards-container-front-card-img {
    width: 100%;
    height: 100%;
  }
  .cards-container-front-card-svg {
    position: absolute;
    left: 25px;
    top: 25px;
  }
  .cards-container-front-card-card-number {
    font-variant: small-caps;
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    color: hsl(0deg, 0%, 100%);
    font-family: "Space Grotesk";
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    word-spacing: 10px;
    left: 0px;
  }
  .cards-container-front-card-name {
    font-variant: small-caps;
    color: hsl(0deg, 0%, 100%);
    position: absolute;
    top: 160px;
    left: 45px;
  }
  .cards-container-front-card-month {
    font-variant: small-caps;
    color: hsl(0deg, 0%, 100%);
    position: absolute;
    top: 160px;
    left: 80%;
  }
  .cards-container-back-card {
    position: relative;
    transform: translateY(-169px);
    object-fit: cover;
    width: max(312.9px, 80vw);
    left: 13vw;
    max-width: 386px;
    height: 200px;
  }
  .cards-container-back-card-img {
    width: 100%;
    height: 100%;
  }
  .cards-container-back-card-CVC {
    position: absolute;
    left: 80%;
    top: 45%;
    color: hsl(270deg, 3%, 87%);
    font-weight: 700;
    font-size: 17px;
  }
  .form {
    margin-top: 80px;
    padding: 0px 5%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form label {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
  }
  .form-Name {
    font-size: 15px;
    width: 90vw;
    height: 50px;
    border-radius: 7px;
    -moz-appearance: textfield;
    box-shadow: none;
    border: 1px solid hsl(270deg, 3%, 87%);
    margin: 10px 0px;
    margin-left: 1%;
  }
  .form-Name::placeholder {
    font-size: 15px;
    text-align: center;
  }
  .form-Number {
    font-size: 15px;
    width: 90vw;
    height: 50px;
    border-radius: 7px;
    -moz-appearance: textfield;
    box-shadow: none;
    border: 1px solid hsl(270deg, 3%, 87%);
    margin: 10px 0px;
    margin-left: 1%;
  }
  .form-Number::placeholder {
    font-size: 15px;
    text-align: center;
  }
  .form-MM {
    font-size: 15px;
    width: 22vw;
    height: 50px;
    border-radius: 7px;
    -moz-appearance: textfield;
    box-shadow: none;
    border: 1px solid hsl(270deg, 3%, 87%);
    margin: 10px 0px;
    margin-left: 1%;
  }
  .form-MM::placeholder {
    font-size: 15px;
    text-align: center;
  }
  .form-YY {
    font-size: 15px;
    width: 22vw;
    height: 50px;
    border-radius: 7px;
    -moz-appearance: textfield;
    box-shadow: none;
    border: 1px solid hsl(270deg, 3%, 87%);
    margin: 10px 0px;
    margin-left: 1%;
  }
  .form-YY::placeholder {
    font-size: 15px;
    text-align: center;
  }
  .form-CVC {
    font-size: 15px;
    width: 43.5vw;
    height: 50px;
    border-radius: 7px;
    -moz-appearance: textfield;
    box-shadow: none;
    border: 1px solid hsl(270deg, 3%, 87%);
    margin: 10px 0px;
    margin-left: 1%;
  }
  .form-CVC::placeholder {
    font-size: 15px;
    text-align: center;
  }
  .buttonto {
    cursor: pointer;
    background-color: hsl(278deg, 68%, 11%);
    color: white;
    border-radius: 7px;
    height: 50px;
    font-size: large;
  }
  .buttonto:hover {
    background-color: hsl(278deg, 40%, 30%);
  }
  .completed {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    align-items: center;
  }
  .completed-thanks {
    margin-top: 20px;
    display: inline-block;
    font-size: 10vw;
    font-variant: small-caps;
    color: hsl(278deg, 40%, 30%);
    font-family: "Space Grotesk";
  }
  .completed-add {
    margin-top: 20px;
    display: inline-block;
    font-size: 5vw;
    color: hsl(279deg, 6%, 55%);
    font-family: "Space Grotesk";
  }
  .completed-button {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px 25vw;
    background-color: hsl(278deg, 68%, 11%);
    color: hsl(0deg, 0%, 100%);
    font-family: "Space Grotesk";
    border-radius: 10px;
  }
  .completed-button:hover {
    cursor: pointer;
    background-color: hsl(278deg, 40%, 30%);
  }
}
@media only screen and (min-width: 375px) and (max-width: 1439px) and (min-width: 680px) {
  .cards-container-back-card {
    left: 22vw;
  }
  .cards-container-front-card {
    left: 13vw;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1439px) and (min-width: 860px) {
  .cards-container-back-card {
    left: 25vw;
  }
  .cards-container-front-card {
    left: 18vw;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1439px) and (min-width: 1050px) {
  .cards-container-back-card {
    left: 29vw;
  }
  .cards-container-front-card {
    left: 22vw;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1439px) and (min-width: 1350px) {
  .cards-container-back-card {
    left: 32vw;
  }
  .cards-container-front-card {
    left: 27vw;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1439px) {
  .hidden {
    display: none;
  }
}

/*# sourceMappingURL=Styles.css.map */
