// @import url(https://fonts.google.com/specimen/Space+Grotesk);
@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (min-width:$Mobile) and (max-width:$Desktop){
    .cards-container{
        max-width: $width_mobile;
        width: $width_mobile;

        background-image: url("../../images/bg-main-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: $height_background_image;
        &-front-card{
            position: relative;
            transform: translatey(calc($height_background_image - 68%));
            position: relative;
            left: 4vw;
            object-fit: cover;
            width: max($front_image_width,80vw);
            max-width: 386px;
            height: 200px;
            z-index: 3;


            &-img{
                width: 100%;
                height: 100%;
                
            }

            &-svg{
                position: absolute;
                left: 25px;
                top: 25px;
                
            }

            &-card-number{
                font-variant: small-caps;
                position: absolute;
                top: 120px;
                width: 100%;
                text-align: center;
                color: $White;
                font-family: $Family;
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 5px;
                word-spacing: 10px;
            }

            &-name{
                font-variant: small-caps;
                color: $White;
                position: absolute;
                top: 160px;
                left:45px
            }

            &-month{
                font-variant: small-caps;
                color: $White;
                position: absolute;
                top: 160px;
                left: 80%;
                
            }

        }

        &-back-card{
            
            position: relative;
            transform: translateY(-139px);
            object-fit: cover;
            width: max($back_image_width,80vw);
            left: 13vw;
            max-width: 386px;
            height: 200px;
            &-img{
                
                width: 100%;
                height: 100%;
                
            }
        }
    }



    

    @media only screen and (min-width: 680px){
        .cards-container-back-card{
            left:22vw;
        }
        .cards-container-front-card{
            left:13vw;
        }
    }

    @media only screen and (min-width: 860px){
        .cards-container-back-card{
            left:25vw;
        }
        .cards-container-front-card{
            left:18vw;
        }
    }
    @media only screen and (min-width: 1050px){
        .cards-container-back-card{
            left:29vw;
        }
        .cards-container-front-card{
            left:22vw;
        }
    }
    @media only screen and (min-width: 1350px){
        .cards-container-back-card{
            left:32vw;
        }
        .cards-container-front-card{
            left:27vw;
        }
    }


} 