// @import url(https://fonts.google.com/specimen/Space+Grotesk);
@import "./variables.scss";
@mixin posicionIcon($right,$top){
    position: absolute;
    right: $right;
    
    top:$top;
}

@mixin estadoInput($valor) {
    

    color: $valor;
    outline:1px solid $valor;
    
}
.divposicion{
    display: inline-block;
    position: relative;
}
.iconposicion{
    
    @include posicionIcon(7%,25px)
}

.exepcion{
    @include estadoInput(red)
}
.correcto{
    @include estadoInput(blue)
}
@mixin inpts($sizeW,) {
    font-size: 15px;
    width: $sizeW;
    height: 50px;
    border-radius: 7px;
    -moz-appearance:textfield; 
    box-shadow: none;
    border: 1px solid $Light_grayish_violet;    
    margin: 10px 0px;
    margin-left: 1%;
    &::placeholder{
        font-size: 15px;
        text-align: center;
    }
}



@mixin layout($widthS,$back,$front){
    @media only screen and (min-width: $widthS){
        .cards-container-back-card{
            left:$back;
        }
        .cards-container-front-card{
            left:$front;
        }
        
    }
}

html, body {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100% ;
    overflow-x: hidden ;
    margin: 0 auto;
    align-items: center;
}
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//Desktop
@media only screen and (min-width:$Desktop){
    
    html{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0;
        overflow: visible;
        
    }

    .cards-container{
        
        margin: 0;
        max-width: 35vw;
        width: 35vw;
        height: 100vh;
        justify-self: flex-start;
        align-self: flex-start;
        background-image: url("../../images/bg-main-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        &-front-card{
            
            position: relative;
            transform: translatey(calc($height_background_image - 20%));
            left: 50%;
            object-fit: cover;
            width: max;
            max-width: 646px;
            height: 320px;
            


            &-img{
                
                width: 100%;
                height: 100%;
                
            }

            &-svg{
                position: absolute;
                left: 30px;
                top: 30px;
                
            }

            &-card-number{
                font-variant: small-caps;
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                color: $White;
                font-family: $Family;
                font-weight: bold;
                font-size: 40px;
                letter-spacing: 5px;
                word-spacing: 10px;
                left: 0px;
            }

            &-name{
                font-variant: small-caps;
                color: $White;
                position: absolute;
                top: 80%;
                left:45px;
                font-size: 25px;
            }

            &-month{
                font-size: 25px;
                font-variant: small-caps;
                color: $White;
                position: absolute;
                top: 80%;
                left: 80%;
                
            }


            
        }
        &-back-card{
            

            position: relative;
            transform: translatey(calc($height_background_image - 20%));
            object-fit: cover;
            width: max;
            max-width: 646px;
            margin-top: 40px;
            left: 60%;
            
            height: 320px;
            &-img{
                
                width: 100%;
                height: 100%;
                
            }
            &-CVC{
               position: absolute;
                left:80%;
                top: 45%;
                color: $Light_grayish_violet;
                font-weight: 700;
                font-size: 27px;
            }
        }
    }
    






    
}




@media only screen and (min-width:$Mobile) and (max-width:calc($Desktop - 1px)){
    
    .cards-container{
        max-width: $width_mobile;
        width: $width_mobile;

        background-image: url("../../images/bg-main-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: $height_background_image;
        &-front-card{
            position: relative;
            transform: translatey(calc($height_background_image - 82%));
            left: 4vw;
            object-fit: cover;
            width: max($front_image_width,80vw);
            max-width: 386px;
            height: 200px;
            z-index: 3;


            &-img{
                width: 100%;
                height: 100%;
                
            }

            &-svg{
                position: absolute;
                left: 25px;
                top: 25px;
                
            }

            &-card-number{
                font-variant: small-caps;
                position: absolute;
                top: 120px;
                width: 100%;
                text-align: center;
                color: $White;
                font-family: $Family;
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 5px;
                word-spacing: 10px;
                left: 0px;
            }

            &-name{
                font-variant: small-caps;
                color: $White;
                position: absolute;
                top: 160px;
                left:45px
            }

            &-month{
                font-variant: small-caps;
                color: $White;
                position: absolute;
                top: 160px;
                left: 80%;
                
            }

        }

        &-back-card{
            
            position: relative;
            transform: translateY(-169px);
            object-fit: cover;
            width: max($back_image_width,80vw);
            left: 13vw;
            max-width: 386px;
            height: 200px;
            &-img{
                
                width: 100%;
                height: 100%;
                
            }
            &-CVC{
               position: absolute;
                left:80%;
                top: 45%;
                color: $Light_grayish_violet;
                font-weight: 700;
                font-size: 17px;
            }
        }
    }

    .form{
        margin-top: 80px;
        padding: 0px 5%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        

        & label{
            cursor: pointer;
            margin: 5px;
            font-size: 20px;
        }

        &-Name{
            @include inpts(90vw);
        }
        &-Number{
            @include inpts(90vw);
        }

        &-MM{
            @include inpts(22vw);
            
        }
        &-YY{
            
            @include inpts(22vw);
        }
        &-CVC{
          
            @include inpts(43.5vw);
           
        }
    }

    .buttonto{
        cursor: pointer;
        background-color: $Very_dark_violet;
        color: white;
        border-radius: 7px;
        height: 50px;
        font-size: large;
        &:hover{
            background-color: $Very_light_violet;
        }
    }
    

    .completed{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
        height: fit-content;
        align-items: center;
        
        &-thanks{
            margin-top: 20px;
            display: inline-block;
            font-size: 10vw;
            font-variant: small-caps;
            color: $Very_light_violet;
            font-family: $Family;
        }
        &-add{
            margin-top: 20px;
            display: inline-block;
            font-size: 5vw;
            color: $Dark_grayish_violet;
            font-family: $Family;
        }

        &-button{
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
            padding: 20px 25vw;
            background-color: $Very_dark_violet;
            color: $White;
            font-family: $Family;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                background-color: $Very_light_violet;
            }
        }

    }

    @include layout(680px,22vw ,13vw );
    @include layout(860px,25vw,18vw);
    @include layout(1050px,29vw,22vw);
    @include layout(1350px,32vw,27vw);
    
    .hidden{
        display: none;
    }
}
