// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

$Mobile: 375px;
$Desktop: 1440px;

// ## Colors

// ### Primary

$active_input_border:linear-gradient( hsl(278, 94%, 30%),hsl(249, 99%, 64%)); 
$input_errors: hsl(0, 100%, 66%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Light_grayish_violet: hsl(270, 3%, 87%);
$Dark_grayish_violet: hsl(279, 6%, 55%);
$Very_dark_violet: hsl(278, 68%, 11%);

// ## Typography

// ### Body Copy

$Font_size: 18px;

// ### Font

$Family: "Space Grotesk";
$Weights: 500;



//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

//my variables




$height_background_image:310px;
$width_mobile:100vw;



//imagenes
$front_image_height:171px;
$front_image_width:312.9px;

$back_image_width:312.9px;
$height_image_height:245px;